@model movie_rental_app.ViewModels.RandomMovieVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of available movies <span class="badge badge-secondary">@Model.Movies.Count</span></h2>

<div class="row mt-3">
    @foreach (var movie in Model.Movies)
    {
        <div class="col-sm-4 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@movie.Image" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">@movie.Name</p>
                </div>
            </div>
        </div>
    }
</div>
