@model movie_rental_app.Models.Customer

@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name <span class="badge badge-info">@Model.Membership.MembershipName</span></h2>

@if (Model.Dob.HasValue)
{
    <ul class="list-group">
        <li class="list-group-item">Date of Birth: @String.Format("{0:dd. MM. yy}", Model.Dob)</li>
    </ul>
}