@model movie_rental_app.Models.Customer

@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var className = Model.Membership.MonthlyDuration == 0 ? "badge badge-info" : "badge badge-success";
}

<h2>@Model.Name <span class="@className">@Model.Membership.MembershipName</span></h2>

@if (Model.Dob.HasValue)
{
<div class="card mt-4">
    <div class="card-body">
        <strong>Date of Birth</strong>: @String.Format("{0:dd. MM. yy}", Model.Dob)
    </div>
</div>
}